:root {
    --primaryColor: #608dff;
}

* {
    font-family: Roboto,sans-serif;
}

body a {
    text-decoration: none;
    color: initial;
    transition: all 100ms ease-out;
}

body a:hover {
    color: initial;
    opacity: 0.8;
    transition: all 150ms ease-out;
}

.entry-tags {
    margin-bottom: 10px;
}

.tags-item {
    font-size: 1em;
    font-weight: 700;
    text-transform: uppercase;
    color: var(--primaryColor);
    margin-right: 20px;
    position: relative;
}

.tags-item:not(:last-child):after {
    content: "";
    display: block;
    width: 4px;
    height: 4px;
    background-color: var(--primaryColor);
    border-radius: 50%;
    position: absolute;
    top: 0;
    bottom: 0;
    right: -12px;
    margin: auto;
}

.tags-item:not(:last-child):after {
    content: "";
    /* padding: 0 6px; */
}

.entry-title {
    font-size: 1.5em;
    font-weight: 600;
}

.entry-content p {
    margin-bottom: 0;
}